/*Normal custom css*/

/*home page css*/

.header{
    height: 104px;
}

.container {
    width: 86%;
}

.nav {
    margin-top: 20px;
    margin-bottom: 18px;
    padding: 5px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 150px;
}

.features {
    margin: 0px auto;
}

.carousel-caption {
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-navigation .navbar-nav > li a, .main-navigation .navbar-nav > li select {
    font-size: 15px;
}

#myorder {
    margin-top: 24px;
}

.myIMG {
    width: 100%;
    height: 180px;
}

#myintrotitle {
    margin: 135px 0px 35px 0px;
}


/*medium size*/
@media only screen and (max-width: 1024px) {

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 200px;
    }

    .search-bar {
        width: 95%;
    }
    .category-box {
        height: 300px;
    }

    #myintrotitle {
        margin: 115px 0px 35px 0px;
    }
}

/* Tablet size*/
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .btn-search {
        margin-top: 0px;
        width: 100%;
    }
    #my_go {
        width: 25%;
    }
    .search-bar {
        width: 100%;
    }
    #myintrotitle {
        font-size: 32px;
    }
    #myfoot {
        width: 31%;
        margin-left: -57px;
    }
    #myintrotitle {
        margin: 45px 0px 15px 0px;
    }
}

/*mobile view portrait*/
@media only screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
    #myintrotitle {
        margin: 35px 0px 15px 0px;
    }
}

/*mobile view landscape*/
@media only screen and (max-width: 480px) {
    .header {
        height: 104px;
    }
    .navbar2 {
        background: #ffffff;
        width: 100%;
        z-index: 999999;
        position: fixed;
        top: 0px;
    }
    .container {
        width: 88%;
    }
    #myintrotitle {
        font-size: 20px;
    }
    .mis-slide {
        width: 100%;
    }
    .more-common {
        margin-bottom: 5%;
    }
    .features {
        margin-bottom: 14%;
    }
    #myCol12 {
        display: none;
    }
    #myintrotitle {
        margin: -4px 0px 0px 0px;
    }
    .category-box2 {
        height: 300px;
    }
    /*#map {
        position: inherit !important;
    }*/
    #datepick , #mountains {
        height: 55px;
        border-radius: 25px;
        padding-left: 14px;
    }
    .home_search .container {
        margin-top: 0%;
    }
    /*#myclearfixsearch {
        display: none;
    }*/

}

/*mobile view landscape*/
@media only screen and (max-width: 360px) {
    .container {
        width: 90%;
    }
    #myCol12 {
        display: none;
    }
    .category-box2 {
        height: 300px;
    }
    #datepick , #mountains {
        height: 55px;
        border-radius: 25px;
        padding-left: 14px;
    }


}

/*mobile view landscape*/
@media only screen and (max-width: 320px) {
    .container {
        width: 90%;
    }
    #myCol12 {
        display: none;
    }


}
